#upload {margin-bottom:50px;}
#container {margin-left:20px;}
.item {position:relative; width:400px; margin-bottom:20px; padding:10px;
-moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
-webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
-o-box-shadow: 1px 1px 2px 1px #cfcfcf;
box-shadow: 1px 1px 2px 1px #cfcfcf;
overflow:hidden; zoom:1;}
.item img{display:block; max-width:100%; margin:0; padding:0;}
.item .info{background-color:white; width:100%; margin:0; position:relative; padding:10px;}
.item .info .head {overflow:hidden; line-height:18px; padding-bottom:5px;}
.item .info .head .date {margin-right:15px; font-size:13px; padding-top:1px; color:grey; font-style:italic;}
.item .info .head .pseudo {font-size:16px; color:black; float:left; font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif}
.item .info .tags {font-size:15px; padding-bottom:10px; color:black;}
.item .info .comment {font-size:16px; color:grey; padding-bottom:5px;}
.item .info .likeCount {margin-left:20px; font-size:14px; color:#6d84b4; font-size:14px;}
.item .info #like {font-size:14px; color:#6d84b4; text-decoration:none;float:left; margin-right:10px;}
.item .info #like:hover {text-decoration: underline;}
.item .info p {color:black; font-family:arial; margin:0; padding:0;}