<% items.forEach(function (d) { %>
<div class="item">
    <img src="<%- d.imageURI %>" alt="" />
    <div class="info">
	    <p><%= moment(d.createdAt).fromNow() %></p>
	    <p><%- d.pseudo %></p>
	    <p><%- d.tags %></p>
    </div>
</div>
<% }); %>
