<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Login</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="public/moment.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
		<link rel="stylesheet" type="text/css" href="public/items.css">
	</head>
	<body>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="username" />
		<input type="password" name="password" placeholder="Password" />
		<button type="submit">Sign in</button>
	</form>
	<a href="/signup">Create an account</a>
	</body>
</html>
