<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="public/ejs.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="public/moment.js"></script>
		<link rel="stylesheet" type="text/css" href="public/items.css">
	</head>
	<body>
	    <form id="uploadForm" enctype="multipart/form-data" action="/api/item" method="post">
		<input type="file" name="image" />
		<input tyle="text" name="pseudo" />
		<input tyle="text" name="tags" />
		<input type="submit" value="Submit" name="submit">
		</form>
		<script src="public/main.js" type="text/javascript"></script>
		<div id="container"></div>
	</body>
</html>