<form id="uploadForm" enctype="multipart/form-data" action="/api/item" method="post">
<input type="file" name="image" />
<input tyle="text" name="pseudo" />
<input tyle="text" name="tags" />
<input type="submit" value="Submit" name="submit">
</form>
