<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Signup</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="public/moment.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
		<link rel="stylesheet" type="text/css" href="public/items.css">
	</head>
	<body>
       	<% if(message){%>
            <h1><%= message %></h1>
         <% }; %>
	<form action="/signup" method="POST">
		<input type="text" name="username" placeholder="Username" />
		<input type="password"name="password" placeholder="Password" />
		<input type="email" name="email"class="form-control" placeholder="Email" />
		<button type="submit">Signup</button>
	</form>
	</body>
</html>